:root {
    --main-font: "Saira", sans-serif;
    --second-font: "Handil Pro", sans-serif;

    --dark-green: #364A46;
    --light-green: #67a98c;

    --white: #fff;
    --black: #000;
    --grey: rgba(54, 74, 70, 0.2);
    --red: #d50000;

    --about-border: #b3b6c0;
    --genplan-modal-bg: #749585;
    --choose-blocks: rgba(54, 74, 70, 0.7);
    --subscribe-bg: rgba(54, 74, 70, 0.2);
    --mob-menu-grey: rgba(77, 87, 105, 0.4);
    --mob-menu-border: #bbb;
}