.advantages {
    padding: 64px 0 132px;
    .rent__list-container {
        margin: 0 0 0 20%;
        max-width: 830px;
    }
    .rent__list {
        gap: 41px 0;
        justify-content: space-between;
    }
    .rent__item {
        width: 372px;
    }
    @media only screen and (max-width: 1024px) {
        .rent__list-container {
            margin: 0 auto;
        }
    }
    @media only screen and (max-width: 768px) {
        padding: 56px 0 96px;
        .rent__list {
            gap: 24px;
        }
        .rent__item {
            width: 100%;
            p {
                font-weight: 400;
                font-size: 11px;
                line-height: 127%;
            }
        }
    }
}
.advantages__title {
    margin-bottom: 75px;
    @media only screen and (max-width: 1024px) {
        margin-bottom: 55px;
    }
    @media only screen and (max-width: 768px) {
        margin-bottom: 39px;
    }
}
.info-box {
    position: absolute;
    background-color: rgba(0, 100, 0, 0.8);
    color: white;
    padding: 15px;
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #333;
  }
  
  /* Первое окно с угловатой формой */
  .box-1 {
    top: 100px;
    left: 50px;
    width: 300px;
    height: 200px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 80% calc(100% - 30px), 80% 100%, 20% 100%, 20% calc(100% - 30px), 0 calc(100% - 30px));
  }
  
  /* Второе окно с другой угловатой формой */
  .box-2 {
    top: 350px;
    left: 400px;
    width: 320px;
    height: 180px;
    clip-path: polygon(0 0, 100% 0, 100% 70%, 90% 80%, 70% 100%, 0 100%);
  }