.footer {
    background-color: var(--dark-green);
    a {
        color: var(--white);
    }
}
.footer__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    padding: 40px 0 38px;
    height: 210px;
    @media only screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 40px;
        padding: 40px 0;
    }
}
.footer__copyright {
    justify-self: start;
    color: var(--white);
    margin-top: auto;
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    text-transform: uppercase;
    span {     
        color: #b3b6c0;
    }
    @media only screen and (max-width: 768px) {
        order: 4;
    }
}
.footer__nav {
    display: grid;
}
.footer__phone {
    justify-self: center;
    a {
        font-family: var(--second-font);
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
    }
}
.footer__nav {
    justify-self: start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-weight: 700;
    font-size: 10px;
    line-height: 140%;
    text-transform: uppercase;
}
.footer__btn {
    justify-self: end;
    button {
        background-color: var(--white);

    }
}